<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Community</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../CSS/community.css'>
    <script src='../JS/community.js'></script>


</head>

<body>
    <main>
        <div class="left-div">
            <div class="logo">
                <svg width="472" height="128" viewBox="0 0 472 128" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <rect width="472" height="128" rx="20" fill="url(#pattern0_4_118)"/>
                <defs>
                <pattern id="pattern0_4_118" patternContentUnits="objectBoundingBox" width="1" height="1">
                <use xlink:href="#image0_4_118" transform="matrix(0.000912726 0 0 0.00336568 -0.214683 -2.0457)"/>
                </pattern>
                <image id="image0_4_118" width="1500" height="1500" xlink:href=""/>
                </defs>
                </svg>
                <script>
                    setLogo();
                </script>
            </div>
            <div class="container">
                <div class="header">
                    <div><label for="sort">Sort:</label>
                        <select id="sort" name="sort">
                            <option value="latest" class="sort-option">Latest</option>
                            <option value="top" class="sort-option">Top</option>
                        </select>
                    </div>
                    <div><label for="filters">Major:</label>
                        <select id="filters" name="filters">
                            <option value="ANY">ANY</option>
                            <option value="ACCT">ACCT</option>
                            <option value="AE">AE</option>
                            <option value="ARE">ARE</option>
                            <option value="AS">AS</option>
                            <option value="BIOE">BIOE</option>
                            <option value="CE">CE</option>
                            <option value="CHE">CHE</option>
                            <option value="CHEM">CHEM</option>
                            <option value="CIE">CIE</option>
                            <option value="COE">COE</option>
                            <option value="CS">CS</option>
                            <option value="EE">EE</option>
                            <option value="EEPH">EEPH</option>
                            <option value="ESE">ESE</option>
                            <option value="FIN">FIN</option>
                            <option value="GEOL">GEOL</option>
                            <option value="GEOP">GEOP</option>
                            <option value="ISE">ISE</option>
                            <option value="ITD">ITD</option>
                            <option value="MATH">MATH</option>
                            <option value="ME">ME</option>
                            <option value="MGT">MGT</option>
                            <option value="MINE">MINE</option>
                            <option value="MIS">MIS</option>
                            <option value="MKT">MKT</option>
                            <option value="MSE">MSE</option>
                            <option value="PETE">PETE</option>
                            <option value="PHYS">PHYS</option>
                            <option value="SSC">SSC</option>
                            <option value="SWE">SWE</option>
                        </select>
                    </div>

                        
                </div>
            </div>
                <div class="submission-container">
                    <div class="submission" data-score="68">
                        <div class="vote">
                            <button class="upvote"><img src="../Resources/upvote.png"></img></button>
                            <span class="score">68</span>
                            <button class="downvote"><img src="../Resources/downvote.png"></img></button>
                        </div>
                        <img class="submission-image" src="../Resources/plan.png" alt="Plan Image">
                        <h3 class="submission-title">CS Plan - Summer Training Very Balanced</h3>
                        <div class="submission-user">
                            <span class="user">Mouath8</span>
                        </div>
                    </div>

                    <div class="submission" data-score="49">
                        <div class="vote">
                            <button class="upvote"><img src="../Resources/upvote.png"></img></button>
                            <span class="score">49</span>
                            <button class="downvote"><img src="../Resources/downvote.png"></img></button>
                        </div>
                        <img class="submission-image" src="../Resources/plan.png" alt="Plan Image">
                        <h3 class="submission-title">AE Plan - CO-OP Training Very Balanced</h3>
                        <div class="submission-user">
                            <span class="user">Azooz007</span>
                        </div>
                    </div>

                    <div class="submission" data-score="54">
                        <div class="vote">
                            <button class="upvote"><img src="../Resources/upvote.png"></img></button>
                            <span class="score">54</span>
                            <button class="downvote"><img src="../Resources/downvote.png"></img></button>
                        </div>
                        <img class="submission-image" src="../Resources/plan.png" alt="Plan Image">
                        <h3 class="submission-title">EE Plan - Internship Training Very Balance</h3>
                        <div class="submission-user">
                            <span class="user">Ahmed9z</span>
                        </div>
                    </div>
                </div>
        </div>
    </main>
    <div class="sidebar">
        <button>
            <img src="../Resources/Picture2.png"></img>
        </button>
        <button>
            <img src="../Resources/Picture3.png"></img>
        </button>
        <button>
            <img src="../Resources/Picture4.png"></img>
        </button>
        <button>
            <a href="Community" style="text-decoration: none;">
                <img src="../Resources/Picture5.png"></img>
            </a>
        </button>
        <p>

        </p>
        <p>

        </p>
        <p>

        </p>
        <p>

        </p>
        <p>

        </p>
        <button>
            <img src="../Resources/Picture6.png"></img>
        </button>
    </div>
</body>

</html>
