<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <link rel="icon" href="../Resources/Icon.png" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>PlanIt</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="../CSS/bootstrap.css" />

    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- font awesome style -->
    <link href="../CSS/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../CSS/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="../CSS/responsive.css" rel="stylesheet" />
  </head>

  <body class="sub_page">
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="/index">
              <span>PlanIt</span>
            </a>

            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/index"
                    >Home <span class="sr-only">(current)</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about"> About</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/service">Services</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact Us</a>
                </li>
              </ul>
              <div class="quote_btn-container">
                <form class="form-inline">
                  <a class="nav-link" href="/Login">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </a>
                </form>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>

    <!-- service section -->

    <section class="service_section layout_padding">
      <div class="container">
        <label for="sort">Sort:</label>
        <select name="sort" id="sort">
          <option value="latest" class="sort-option">Latest</option>
          <option value="top" class="sort-option">Top</option>
        </select>
        <label for=""></label>
        <label for="filters">Major:</label>
        <select id="filters" name="filters">
          <option value="ANY">Any</option>
          <option value="ACCT">ACCT</option>
          <option value="AE">AE</option>
          <option value="ARE">ARE</option>
          <option value="AS">AS</option>
          <option value="BIOE">BIOE</option>
          <option value="CE">CE</option>
          <option value="CHE">CHE</option>
          <option value="CHEM">CHEM</option>
          <option value="CIE">CIE</option>
          <option value="COE">COE</option>
          <option value="CS">CS</option>
          <option value="EE">EE</option>
          <option value="EEPH">EEPH</option>
          <option value="ESE">ESE</option>
          <option value="FIN">FIN</option>
          <option value="GEOL">GEOL</option>
          <option value="GEOP">GEOP</option>
          <option value="ISE">ISE</option>
          <option value="ITD">ITD</option>
          <option value="MATH">MATH</option>
          <option value="ME">ME</option>
          <option value="MGT">MGT</option>
          <option value="MINE">MINE</option>
          <option value="MIS">MIS</option>
          <option value="MKT">MKT</option>
          <option value="MSE">MSE</option>
          <option value="PETE">PETE</option>
          <option value="PHYS">PHYS</option>
          <option value="SSC">SSC</option>
          <option value="SWE">SWE</option>
        </select>
      </div>
      <div class="container">
        {% for i in plans %}
        <div class="col-md submissions">
          <div class="box">
            <div class="row">
              <div class="submission" data-score="{{ i.likes }}">
                <div class="col-md-auto">
                  <button type="button" class="upvote">
                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                  </button>
                  <span class="score">{{ i.likes }}</span>
                  <button type="button" class="downvote">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </button>
                </div>
                <div class="col-md">
                  <div class="">
                    <img
                      src="../Resources/SWE Program-Prerequisite - landscape 3.png"
                      alt="Plan Image"
                    />
                  </div>
                </div>
                <div class="col-md">
                  <h3 class="submission-title">
                    {{ i.name }}
                  </h3>
                </div>
                <div class="col-md">
                  <span class="user">s{{ i.userId }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>

    <!-- end service section -->

    <!-- info section -->

    <section class="info_section layout_padding2">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <div class="info_contact">
              <h4>Address</h4>
              <div class="contact_link_box">
                <a href="">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <span> Dharan </span>
                </a>

                <a href="">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span> PlanIt@gmail.com </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="info_link_box">
              <h4>Links</h4>
              <div class="info_links">
                <a class="" href="/index">
                  <img src="../Resources/nav-bullet.png" alt="" />
                  Home
                </a>
                <a class="" href="/about">
                  <img src="../Resources/nav-bullet.png" alt="" />
                  About
                </a>
                <a class="active" href="/service">
                  <img src="../Resources/nav-bullet.png" alt="" />
                  Services
                </a>

                <a class="" href="/contact">
                  <img src="../Resources/nav-bullet.png" alt="" />
                  Contact Us
                </a>

                <a class="" href="/Login">
                  <img src="../Resources/nav-bullet.png" alt="" />
                  Profile
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="info_detail">
              <h4>Info</h4>
              <div class="info_social">
                <a href="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end info section -->

    <!-- footer section -->
    <footer class="footer_section">
      <div class="container">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By PlanIt
        </p>
      </div>
    </footer>
    <!-- footer section -->

    <!-- jQery -->
    <script src="../JS/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="../JS/bootstrap.js"></script>
    <!-- custom js -->
    <script src="../JS/custom.js"></script>

    <script src="../JS/community.js"></script>
  </body>
</html>
