<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>PlanBuilder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../CSS/login.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../CSS/PlanBuilder.css"
    />
    <script src="../JS/login.js"></script>
    <script src="../JS/PlanBuilder.js"></script>
  </head>

  <body>
    <main>
      <div class="left-div">
        <div class="logo">
          <svg
            width="472"
            height="128"
            viewBox="0 0 472 128"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <rect
              width="472"
              height="128"
              rx="20"
              fill="url(#pattern0_4_118)"
            />
            <defs>
              <pattern
                id="pattern0_4_118"
                patternContentUnits="objectBoundingBox"
                width="1"
                height="1"
              >
                <use
                  xlink:href="#image0_4_118"
                  transform="matrix(0.000912726 0 0 0.00336568 -0.214683 -2.0457)"
                />
              </pattern>
              <image
                id="image0_4_118"
                width="1500"
                height="1500"
                xlink:href=""
              />
            </defs>
          </svg>
          <script>
            setLogo();
          </script>
        </div>
        <div class="choose-major-div">
          <select id="select-major">
            <option>Software Engineering</option>
            <option>Accounting</option>
            <option>Actuarial Science and Financial Mathematics</option>
            <option>Aerospace Engineering</option>
            <option>Architectural Engineering</option>
            <option>Architecture</option>
            <option>Bioengineering</option>
            <option>Chemical Engineering</option>
            <option>Chemistry</option>
            <option>Civil Engineering</option>
            <option>Computer Engineering</option>
            <option>Computer Science</option>
            <option>Control and Instrumentation Engineering</option>
            <option>Electrical Engineering</option>
            <option>Electrical Engineering and Physics</option>
            <option>Environmental Science and Engineering</option>
            <option>Finance</option>
            <option>Geology</option>
            <option>Geophysics</option>
            <option>Industrial and Systems Engineering</option>
            <option>Integrated Design</option>
            <option>Management</option>
            <option>Management Information System</option>
            <option>Marketing</option>
            <option>Materials Science and Engineering</option>
            <option>Mathematics</option>
            <option>Mechanical Engineering</option>
            <option>Mining Science and Engineering</option>
            <option>Petroleum Engineering</option>
            <option>Physics</option>
            <option>Smart and Sustainable Cities</option>
          </select>
          <span id="training-option">
            <button id="summer">Summer</button>
            <button id="internship">Internship</button>
          </span>
        </div>
        <div class="university-plan-div"></div>
        <div class="student-created-plan-div">
          {% for i in plan %}
          <div class="student-plan-course-container">
            <div>
              {% for j in i %}
                <button draggable="false" id="{{ j }}d" style="cursor: pointer;">{{ j }}</button>
              {% endfor %}
            </div>
            <p>
              0
            </p>
          </div>
          {% endfor %}
        </div>
        {% if not plan %}
        <input id="plan-name" placeholder="Name..."></input>
        <button onclick="savePlan()">Save</button>
        {% else %}
        <button onclick="modifyPlan()">Update</button>
        {% endif %}

        <script>
          populate_courses();
        </script>
      </div>
    </main>
    <div class="sidebar">
      <button>
        <img
          class="side-bar-icon"
          style="height: 29.08px; width: 41.4px; margin-top: 40px"
          src="../Resources/menu.png"
          alt="menu"
        />
      </button>

      {# <button>
        <img
          class="side-bar-icon"
          style="height: 52px; width: 64px"
          src="../Resources/add.png"
          alt="add"
        />
      </button> #}

      <button>
        <img
          class="side-bar-icon"
          style="height: 64px; width: 64px"
          src="../Resources/edit.png"
          alt="edit"
        />
      </button>

      <button>
        <img
          class="side-bar-icon"
          style="height: 64px; width: 62.8px"
          src="../Resources/remove.png"
          alt="remove"
        />
      </button>

      <button>
        <img
          class="side-bar-icon"
          style="height: 45px; width: 50px"
          src="../Resources/settings.png"
          alt="settings"
        />
      </button>

      <button>
        <img
          class="side-bar-icon"
          style="height: 55px; width: 51px"
          src="../Resources/home.png"
          alt="home"
        />
      </button>

      <button>
        <img
          class="side-bar-icon"
          style="height: 61px; width: 50px"
          src="../Resources/community.png"
          alt="community"
        />
      </button>
      <p></p>
      <p></p>
      <button>
        <img src="../Resources/Picture6.png" />
      </button>
    </div>
  </body>
</html>
