<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../CSS/login.css'>
    <script src='../JS/register.js'></script>
    <script src='../JS/login.js'></script>
</head>

<body>
    <main>
        <div class="left-div">
            <div class="logo">
                <svg width="472" height="128" viewBox="0 0 472 128" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <rect width="472" height="128" rx="20" fill="url(#pattern0_4_118)"/>
                <defs>
                <pattern id="pattern0_4_118" patternContentUnits="objectBoundingBox" width="1" height="1">
                <use xlink:href="#image0_4_118" transform="matrix(0.000912726 0 0 0.00336568 -0.214683 -2.0457)"/>
                </pattern>
                <image id="image0_4_118" width="1500" height="1500" xlink:href=""/>
                </defs>
                </svg>
                <script>
                    setLogo();
                </script>
            </div>
            <div class="create-account-div">
                <h2>
                    Create an account
                </h2>
                <form>
                     <label for="id">ID</label>
                    <input id="id" name="id"  required></input>
                    <label for="Email">Email</label>
                    <input id="Email" name="Email"  required></input>
                    <label for="PNumber">Phone number</label>
                    <input id="PNumber" name="PNumber"  required></input>
                    <div class="hide-password-div">
                        <label for="password" class="password-label">Your password</label>
                        <button type="button" id="hide" onclick="showHidePassword()">Hide</button>
                    </div>
                    <input type="password" id="password" name="password" onchange="" required></input>
                    <input id="SignUpBtn" type="submit" value="Sign up" onclick="register()"></input>
                </form>
                <p>
                    By creating an account, you agree to the <u>Terms of use</u> and <u>Privacy Policy</u>
                </p>
                <div class="sign-in-problems">

                </div>
            </div>
        </div>
    </main>
    <div class="sidebar">
        <button>
            <img src="../Resources/Picture2.png"></img>
        </button>
        <button>
            <img src="../Resources/Picture3.png"></img>
        </button>
        <button>
            <img src="../Resources/Picture4.png"></img>
        </button>
        <button>
            <a href="Community" style="text-decoration: none;">
                <img src="../Resources/Picture5.png"></img>
            </a>
        </button>
        <p>

        </p>
        <p>

        </p>
        <p>

        </p>
        <p>

        </p>
        <p>

        </p>
        <button>
            <img src="../Resources/Picture6.png"></img>
        </button>
    </div>
</body>

</html>